<h1>Here are the errors</h1>

<p class="alert alert-danger">
    @ViewBag.ExceptionPath;
    
</p>
<p class="alert alert-danger">

    @ViewBag.ExceptionMessage ;
   
</p>
<p class="alert alert-danger">
    
    @ViewBag.Stacktrace;
</p>