@model ErrorViewModel
@{ 
    ViewBag.Title = "Not Found";
}

<h1>@ViewBag.ErrorMessage</h1>

<h2>Error: @ViewBag.ErrorMessage</h2>

<a asp-action="index" asp-controller="home" class="btn btn-primary">Click Here to navigate to Home</a>