@model int

@{ 
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h1>404 Not Found Error:</h1>

       <h5>Employee with Id =@Model cannot be found  </h5>
</div>
<a asp-action="index" asp-controller="home" class="btn btn-success" >Click here to go back to  List</a>